/**
 * Block editor stylesheet
 */
.wp-block-augmented-reality-ar-viewer .ar-viewer-wrapper {
	margin-bottom: 1rem;
	width: 100%;
}

.wp-block-augmented-reality-ar-viewer .ar-viewer-wrapper span {
	margin-right: 1rem;
	vertical-align: bottom;
}
